<div class="my-4">
  <%= simple_form_for([@pokemon, @booking]) do |f| %>
    <div class="container", data-controller="datepicker", data-booked-date-ranges="<%= @booked_date_ranges.to_json %>" >
      <div class="form-group", data-target="datepicker.startDate">
        <%= f.input :start_date,
        placeholder: "Pick up date",
        as: :string,
        input_html: { id: "booking_start_date" } %>
      </div>
      <div class="form-group", data-target="datepicker.endDate">
        <%= f.input :end_date,
        placeholder: "Drop off date",
        as: :string,
        input_html: { id: "booking_end_date" } %>
      </div>
      <div class="form-group">
        <%= f.button :submit, "Book Now", class: "my-5 w-100", id: "booking_button", style: "background-color: #003153; color: white;" %>
      </div>
    </div>
  <% end %>
</div>
