<div class="container">
  <div class="my-5">
    <% if current_user.pokemons.present? %>
      <p>My Pokemons</p>
      <div class="row justify-content-center">
        <% current_user.pokemons.each do |pokemon| %>
          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xxl-3 d-flex align-items-center the-cards">
            <%= link_to pokemon_path(pokemon), style: "text-decoration: none;" do %>
              <div class="card mb-4 shadow-sm">
                <% if pokemon.photos.present? %>
                  <%= cl_image_tag pokemon.photos.first.key, height: 200, width: 215 %>
                <% end %>
                <div class="pokemon-card">
                  <span class="pokemon-name"><%= pokemon.name %></span>
                  <span class="pokemon-price">$<%= pokemon.price %> AUD</span>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% else %>
      <p>You have no pokemons yet.</p>
    <% end %>
  </div>

  <div class="my-5">
    <% if current_user.bookings.present? %>
      <p>My Bookings</p>
      <% current_user.bookings.each do |booking| %>
        <div class="my-3 d-flex align-items-center justify-content-between">
          Pokemon: <%= booking.pokemon.name %>. <br>
          <% if booking.start_date.present? && booking.end_date.present? %>
            Pick up: <%= booking.start_date.strftime("%d %B %Y") %> <br>
            Drop off: <%= booking.end_date.strftime("%d %B %Y") %>. <br>
            <% duration = (booking.end_date - booking.start_date).to_i %>
            <% price = booking.pokemon.price * duration %>
            Duration: <%= duration %> days. <br>
            Total amount: $<%= price %> AUD.
          <% else %>
            Dates not available. <br>
          <% end %>
          <div class="d-flex mx-4">
            <%= link_to edit_booking_path(booking), class: "me-3" do %>
              <i class="fa-solid fa-pen" style="color: black;"></i>
            <% end %>
            <%= link_to booking_path(booking), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "me-3" do %>
              <i class="fa-solid fa-trash" style="color: black;"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    <% else %>
      <p>You have no bookings yet.</p>
    <% end %>
  </div>
</div>
