<div class="container">
  <div class="my-5">
    <p>My Pokemons</p>
    <div class="row justify-content-center">
      <% current_user.pokemons.each do |pokemon| %>
        <div class="col-sm-12 col-md-6 col-lg-3 d-flex align-items-center">
          <%= link_to pokemon_path(pokemon), style: "text-decoration: none;" do %>
            <div class="card mb-4 shadow-sm">
              <% if pokemon.photos.present?%>
                <%= cl_image_tag pokemon.photos.first.key, height: 200, width: 248%>
              <% end %>
              <div class="card-body">
                <span class="pokemon-name"><%= pokemon.name %></span>
                <span class="pokemon-price">$<%= pokemon.price %> AUD</span>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="my-5">
    <p>My Bookings</p>
    <% current_user.bookings.each do |booking| %>
      <div class="my-3 d-flex align-items-center justify-content-between">
      Pokemon: <%= booking.pokemon.name%> Date: <%= booking.start_date%> to <%= booking.end_date%>
      <div class="d-flex mx-4">
        <%=link_to "Edit", edit_booking_path(booking), class: "me-3"%>
        <%=link_to "Delete", booking_path(booking), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
      </div>
      </div>
    <%end%>
  </div>

</div>
