<div>
  <%= simple_form_for(@pokemon) do |f| %>
    <%= f.input :name %>
    <%= f.input :overview %>
    <% @pokemon.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 200, width: 200, fill: :cover%>
    <% end %>
    <%= f.file_field :photos, data: {placeholder: @pokemon.photos} %>
    <%= f.association :user %>
    <%= f.input :price %>
    <%= f.submit %>
  <% end %>
</div>
