<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2 class="text-center ">New Pokemon </h2>
      <%=simple_form_for(@pokemon) do |f| %>
        <%= f.input :name, input_html: { class: "nes-input mt-3" } %>
        <%= f.input :overview, input_html: { class: "nes-input mt-3" } %>
          <%= f.input :address, input_html: { class: "nes-input mt-3" } %>
        <%= f.input :photos, as: :file, input_html:{multiple: true, class: "nes-input mt-3"} %>
        <%= f.input :price, input_html: { class: "nes-input mt-3" } %>
        <%= f.submit "Submit", style: "background-color: #003153; color: white;", class: "btn btn-primary my-4 w-100" %>
      <%end%>    </div>
  </div>
</div>
