<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-10 offset-lg-1">

    <%# Pokemon name and edit & trash icon %>
    <div class="d-flex align-items-center justify-content-center mt-3">
      <h1 class="pokemon-name-show"><%= @pokemon.name %></h1>
      <% if @pokemon.user === current_user %>
      <div>
        <%= link_to edit_pokemon_path(@pokemon), class: "ms-4 mt-4", style: "color: black;" do%>
        <i class="fa-solid fa-pen"></i>
        <%end%>
        <%= link_to pokemon_path, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, style: "color: black;" do %>
        <i class="fa-solid fa-trash mx-3"></i>
        <% end %>
      </div>
      <% end %>
    </div>

    <%# Carousel %>
    <div class="carousel-container">
      <%= render "shared/carousel" %>
    </div>

    <%# Description %>
    <div class="d-flex flex-column flex-md-row">
      <div class="col-12 col-md-8">
        <div class="py-3 mr-3">
          <div class="d-flex align-items-center">
            <i class="nes-icon is-medium heart"></i>
            <div class="m-3 description">Description</div>
          </div>
          <div class="m-3 border-bottom border-3">
            <p class="text-description">
              <% pokemon_overview = @pokemon.overview %>
              <% overview_capitalized = pokemon_overview.split('. ').map { |sentence| sentence.capitalize }.join('. ')  %>
              <%= overview_capitalized %>
            </p>
          </div>

          <%# Add reviews %>
          <% if @pokemon.reviews.any? %>
            <div class="d-flex flex-sm-row mt-3 align-items-center">
              <i class="nes-icon is-medium heart"></i>
              <div class="d-flex justify-content-between flex-grow-1 px-3 py-2">
                <div>
                  <p class="mb-0">
                    <% if @pokemon.reviews.count == 1 %>
                      <%= @pokemon.reviews.count %> review
                    <% else %>
                      <%= @pokemon.reviews.count %> reviews
                    <% end %>
                  </p>
                </div>
                <% if user_signed_in? %>
                  <div  class="m-4" >
                    <%= link_to "Write a review", new_pokemon_review_path(@pokemon), class: "btn btn-warning mt-3 text-align-right", style: "background-color: #003153; color: white;" %>
                  </div>
                <% end %>
              </div>
            </div>
          <% else %>
            <% if user_signed_in? %>
                  <div class="m-4" >
                    <%= link_to "Write a review", new_pokemon_review_path(@pokemon), class: "btn btn-warning mt-3 text-align-right", style: "background-color: #003153; color: white;" %>
                  </div>
                <% end %>
          <% end %>

          <%# List reviews %>
          <ul class="list-group w-100">
            <% @pokemon.reviews.each do |review| %>
            <li class=" m-3 d-flex justify-content-between">
              <div class="review-card d-flex">
                <strong><%= review.user.name %></strong>
                <p class="mb-0"> : <%= review.content %></p>
              </div>
              <div>
                <% if @pokemon.user === current_user %>
                  <%= link_to edit_review_path(review), style: "color: black;"  do %>
                    <i class="fa-solid fa-pen"></i>
                  <% end %>
                  <%=link_to review_path(review), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, style: "color: black;" do %>
                    <i class="fa-solid fa-trash mx-3"></i>
                  <% end %>
                <% end %>
              </div>
            </li>
            <% end %>
          </ul>
        </div>
      </div>

      <%# price_card %>
      <div class="col-12 col-md-4 mt-3 mt-md-0">
        <%= render "shared/price_card" %>
      </div>

    </div>
    <div data-controller="map"
      id="map" class="mt-4"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
      data-map-markers-value="<%= @markers.to_json %>"
      style="width: 100%; height: 50vh; margin: 20px 0;">
    </div>

  </div>


    </div>
  </div>
</div>
