<!DOCTYPE html>
<html>
  <head>
    <title>PokemonWorld</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://kit.fontawesome.com/e0f18629e3.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
      <div class="container-fluid">
        <%= link_to "#", class: "navbar-brand" do %>
          <%= cl_image_tag("https://res.cloudinary.com/dzwrjb71e/image/upload/v1720569905/twr0etpycztwdtzomtfu.webp", width: 40, height: 30, crop: :fill)  %>
        <% end %>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto">
            <%# if user_signed_in? %>
              <li class="nav-item active">
                <%= link_to "Home", "/", class: "nav-link" %>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa-solid fa-cart-shopping"></i></a>
              </li>
                <%= link_to "Log in", "/pokemons/new", class: "nav-link" %>
              <li class="nav-item dropdown">
                <%= cl_image_tag ("https://res.cloudinary.com/dzwrjb71e/image/upload/v1720571869/icnn6sgkbj6webephy7o.jpg"), class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  <%= link_to "My list", "#", class: "dropdown-item" %>
                  <%= link_to "Cart", "#", class: "dropdown-item" %>
                  <%= link_to "Log out", "#", class: "dropdown-item", data: {turbo_method: :delete} %>
                  <%# link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
                </div>
              </li>
                <%# else %>
                <!--li class="nav-item"-->
                <%#= link_to "Login", new_user_session_path, class: "nav-link" %>
                <!--/li-->
                <%# end %>
          </ul>
        </div>
      </div>
    </div>

    <%= yield %>

    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
          <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
        </a>
        <span class="text-muted">© 2024 PokemonWorld, Inc</span>
      </div>

      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex mx-5">
        <li class="ms-3"><a class="text-muted" href="#"><i class="fa-brands fa-twitter footer-icon"></i></a></li>
        <li class="ms-3"><a class="text-muted" href="#"><i class="fa-brands fa-square-instagram footer-icon"></i></a></li>
        <li class="ms-3"><a class="text-muted" href="#"><i class="fa-brands fa-facebook footer-icon"></i></a></li>
      </ul>
    </footer>

  </body>
</html>
