<!DOCTYPE html>
<html>
  <head>
    <title>PokemonWorld</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://kit.fontawesome.com/e0f18629e3.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= render "shared/flashes" %>
    <%= render "shared/navbar" %>
        <% if user_signed_in? %>
      <h6 class="mt-2 mx-3">Hi <%= current_user.email %> 🎈</h6>
    <% end %>
    <%= yield %>

    <%= render "shared/footer" %>

  </body>
</html>
